<style>
        body { font-family: Calibri, sans-serif;}
        a, h1, h2 { font-family: Calibri, sans-sarif;color: #003f5c; }
        h1 { border-bottom: 2px solid #eee; }
        table {
          font-family: Calibri, sans-serif;
          background-color: #fAfAfA;
          text-align: center;
          border-collapse: collapse;
        }
        table td, table th {
          border: 1px solid #AAAAAA;
          padding: 6px 4px;
        }
        table tbody td {
          font-size: 18px;
          color: #111111;
        }
        table tbody th {
          font-weight: normal;
          font-size: 12px;
          color: #111111;
        }
        table thead th {
          font-size: 12px;
          font-weight: bold;
          background: #f5d798;
          color: #000000;
          border-left: 1px solid #AAAAAA;
        }
        table thead th:first-child {
          border-left: none;
        }
        table tfoot td {
          font-size: 14px;
        }
        table tfoot .links {
          text-align: right;
        }
        table tfoot .links a{
          display: inline-block;
          background: #1C6EA4;
          color: #FFFFFF;
          padding: 2px 8px;
          border-radius: 5px;
        }
        .imgContainer{
            float:left;
        }
        .column {
          float: left;
          width: 33.33%;
          padding: 5px;
        }
        .row::after {
          content: "";
          clear: both;
          display: table;
        }
</style>